.pages-signin {
   min-height: calc(100vh - 64px);
}

.sitemap {
   padding-top: 2rem;
   padding-left: 20rem;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: flex-start;
   counter-reset: counter;
}

.sitemap a::before {
   counter-increment: counter;
   content: counter(counter, decimal-leading-zero) '. ';
}

.sitemap a:hover {
   color: dodgerblue;
}

.total-mark {
   padding: 5px 10px;
   --tw-bg-opacity: 1;
   background-color: rgb(30 41 59 / var(--tw-bg-opacity));
   margin-left: 5px;
}
